@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "苹方";
}

@media screen and (width: 320px) {
  html {
    font-size: 100px;
  }
}

@media screen and (width: 360px) {
  html {
    font-size: 112.5px;
  }
}

@media screen and (width: 375px) {
  html {
    font-size: 117.1875px;
  }
}

@media screen and (width: 384px) {
  html {
    font-size: 120px;
  }
}

@media screen and (width: 411px) {
  html {
    font-size: 128.4375px;
  }
}

@media screen and (width: 414px) {
  html {
    font-size: 129.375px;
  }
}

@media screen and (width: 460px) {
  html {
    font-size: 143.75px;
  }
}

@media screen and (width: 640px) {
  html {
    font-size: 200px;
  }
}

.kk {
  width: 100%;
  height: 5.68rem;
}

.toubu {
  width: 100%;
  height: 44px;
  background: #373A41;
  position: fixed;
  top: 0;
  left: 0;
}

.toubu .wx {
  font-size: 0.2rem;
  color: #fff;
  display: inline-block;
  height: 0.25rem;
  line-height: 0.25rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0.25rem;
}

.toubu .xingming {
  font-size: 0.2rem;
  color: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0.55rem;
  line-height: 0.44rem;
}

.toubu .ziliao {
  position: absolute;
  right: 0.1rem;
  top: 0.05rem;
  display: inline-block;
}

.toubu .ziliao:before {
  content: "\e60d";
  color: #fff;
  font-size: 0.24rem;
  display: inline-block;
  font-weight: normal;
}

.toubu .search:before {
  display: inline-block;
  font-size: 0.2rem;
  content: "\e6a4";
  color: #fff;
  position: absolute;
  top: 0.07rem;
  left: 75%;
}

.toubu .add:before {
  content: "\3466";
  color: #fff;
  font-size: 0.24rem;
  position: absolute;
  right: 0.1rem;
  top: 0.05rem;
  display: inline-block;
  font-weight: normal;
}

.weixin {
  position: absolute;
  background: #fff;
  top: 44px;
  left: 0;
  width: 100%;
  height: 4.78rem;
  overflow: auto;
}

.weixin li {
  width: 100%;
  height: 0.75rem;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
}

.weixin li div {
  transition: all .4s ease;
  background: #fff;
  width: 100%;
  height: 0.75rem;
  border-bottom: 1px solid #d7d7d7;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.weixin li div img {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

.weixin li div .name {
  font-size: 0.16rem;
  color: #000;
  line-height: 0.24rem;
  height: 0.24rem;
  width: 50%;
  position: absolute;
  top: 0.1rem;
  left: 0.9rem;
}

.weixin li div .content {
  font-size: 0.14rem;
  color: #888;
  line-height: 0.18rem;
  width: 50%;
  height: 0.18rem;
  position: absolute;
  left: 0.9rem;
  top: 0.4rem;
}

.weixin li div .time {
  font-size: 0.12rem;
  color: #999;
  line-height: 0.18rem;
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
}

.weixin li div .sound {
  position: absolute;
  right: 0.1rem;
  top: 0.4rem;
  color: #999;
  font-size: 0.12rem;
}

.weixin li .del {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  height: 100%;
  width: 0.8rem;
  background: rgba(246, 27, 34, 0.44);
  color: #fff;
  line-height: 0.75rem;
  font-size: 0.2rem;
  text-align: center;
  z-index: 5;
}

.weixin li.ng-leave {
  transition: opacity .4s ease,transform .4s ease;
}

.weixin li.ng-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

.weixin li.showDel div {
  transform: translateX(-0.8rem);
}

.weixin li div a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  z-index: 100;
}

label {
  position: fixed;
  top: 0.07rem;
  right: 0.1rem;
  width: 0.23rem;
  height: 0.34rem;
}

.jiahao {
  width: 1.8rem;
  height: 2rem;
  background: rgba(30, 31, 30, 0.88);
  position: fixed;
  top: 44px;
  right: 0.1rem;
  opacity: 1;
  transform: none;
  z-index: 100;
  transition: opacity .4s ease,transform .4s ease;
}

.jiahao li {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #111;
  position: relative;
}

.jiahao li span {
  font-size: 0.14rem;
  color: #fff;
  padding-left: 0.2rem;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.2rem;
  display: inline-block;
  height: 0.2rem;
}

.jiahao li:nth-child(1) span::before {
  content: "\e65c";
  font-size: 0.2rem;
  color: #fff;
  position: absolute;
  left: -0.1rem;
  top: 0;
}

.jiahao li:nth-child(2) span::before {
  content: "\e61d";
  font-size: 0.2rem;
  color: #fff;
  position: absolute;
  left: -0.1rem;
  top: -0.03rem;
}

.jiahao li:nth-child(3) span::before {
  content: "\e602";
  font-size: 0.2rem;
  color: #fff;
  position: absolute;
  left: -0.1rem;
  top: 0;
}

.jiahao li:nth-child(4) span::before {
  content: "\e628";
  font-size: 0.2rem;
  color: #fff;
  position: absolute;
  left: -0.1rem;
  top: -0.03rem;
}

.jiahao li:nth-child(5) span::before {
  content: "\e877";
  font-size: 0.2rem;
  color: #fff;
  position: absolute;
  left: -0.1rem;
  top: -0.03rem;
}

.jiahao.ng-hide {
  opacity: 0;
  transform: translateY(-100%);
}

.lianxiren {
  position: absolute;
  background: #ebebeb;
  top: 44px;
  left: 0;
  width: 100%;
  height: 4.78rem;
  overflow: auto;
}

.lianxiren ul {
  position: fixed;
  width: 0.2rem;
  height: 60%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0.1rem;
  font-size: 0.14rem;
  color: #888;
}

.lianxiren dd {
  width: 100%;
  height: 0.6rem;
  background: #fff;
}

.lianxiren dd a {
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 100%;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.lianxiren dd a div {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
}

.lianxiren dd a img {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
}

.lianxiren dd a p {
  position: absolute;
  left: 0.8rem;
  top: 0.2rem;
  width: 50%;
  height: 0.3rem;
  font-size: 0.16rem;
  color: #333;
}

.lianxiren .key {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.lianxiren .key span {
  margin-left: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.16rem;
  color: #888;
}

.lianxiren .key div {
  width: 100%;
  height: 0.6rem;
  background: #fff;
}

.lianxiren .key div a {
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 100%;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.lianxiren .key div a img {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
}

.lianxiren .key div a p {
  position: absolute;
  left: 0.8rem;
  top: 0.2rem;
  width: 50%;
  height: 0.3rem;
  font-size: 0.16rem;
  color: #333;
}

.new {
  background: #FA9D3B;
}

.new::before {
  content: "\e61d";
  color: #fff;
  font-size: 0.35rem;
  position: absolute;
  left: 0.02rem;
  top: 0;
}

.qun {
  background: #45C01A;
}

.qun::before {
  content: "\e652";
  color: #fff;
  font-size: 0.35rem;
  position: absolute;
  left: 0.02rem;
  top: 0;
}

.bian {
  background: #2782D7;
}

.bian::before {
  content: "\e629";
  color: #fff;
  font-size: 0.33rem;
  position: absolute;
  left: 0.03rem;
  top: -0.03rem;
}

.gong {
  background: #2782D7;
}

.gong::before {
  content: "\e6f1";
  color: #fff;
  font-size: 0.3rem;
  position: absolute;
  left: 0;
  top: 0.03rem;
}

#view.ng-leave {
  transition: all .3s ease;
}

#view.ng-leave .weixin {
  transition: all .3s ease;
  opacity: 1;
}

#view.ng-leave-active .weixin {
  opacity: 0;
}

#view.ng-enter {
  transition: all .5s ease;
}

#view.ng-enter .weixin {
  transition: all .3s ease .3s;
  opacity: 0;
}

#view.ng-enter-active .weixin {
  opacity: 1;
}

.beij {
  width: 100%;
  height: 92%;
  background: #ebebeb;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 12;
}

.beij .toum {
  width: 100%;
  height: 1.03rem;
  background: #fff;
  margin-top: 0.25rem;
  position: relative;
}

.beij .toum img {
  width: 0.75rem;
  height: 0.75rem;
  margin: auto;
  top: 0;
  position: absolute;
  bottom: 0;
  left: 0.1rem;
}

.beij .toum span {
  display: block;
  width: 50%;
  height: 0.2rem;
  font-size: 0.14rem;
  line-height: 0.2rem;
}

.beij .toum span:nth-of-type(1) {
  position: absolute;
  left: 1rem;
  top: 0.3rem;
}

.beij .toum span:nth-of-type(2) {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

.beij .beiz {
  width: 100%;
  height: 0.6rem;
  margin-top: 0.25rem;
  background: #fff;
  box-sizing: border-box;
  padding-left: 0.2rem;
  line-height: 0.6rem;
}

.beij ul {
  width: 100%;
  height: 2rem;
  margin-top: 0.25rem;
}

.beij ul .diqu {
  width: 100%;
  height: 0.55rem;
  background: #fff;
}

.beij ul .diqu span {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border-bottom: 1px solid #edede1;
  line-height: 0.55rem;
  font-size: 0.16rem;
}

.beij ul .diqu span p {
  display: inline-block;
  font-size: 0.14rem;
  margin-left: .3rem;
}

.beij ul .xiangc {
  width: 100%;
  height: 0.89rem;
  background: #fff;
}

.beij ul .xiangc div {
  width: 90%;
  height: 0.89rem;
  border-bottom: 1px solid #edede1;
  margin: 0 auto;
  position: relative;
}

.beij ul .xiangc div span {
  position: absolute;
  left: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  font-size: 0.16rem;
  line-height: 0.88rem;
}

.beij ul .xiangc div ul {
  width: 70%;
  height: 100%;
  float: right;
  margin: 0;
}

.beij ul .xiangc div ul li {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.15rem 0.1rem;
}

.beij ul .gengd {
  width: 100%;
  height: 0.57rem;
  background: #fff;
}

.beij ul .gengd span {
  width: 90%;
  height: 0.57rem;
  border-bottom: 1px solid #edede1;
  margin: 0 auto;
  display: block;
  line-height: 0.57rem;
  font-size: 0.16rem;
}

.beij .faxx {
  width: 90%;
  height: 0.58rem;
  margin: 0.25rem auto;
  background: #45C01A;
}

.beij .faxx a {
  text-align: center;
  line-height: 0.58rem;
  font-size: 0.2rem;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}

.faxian {
  position: absolute;
  background: #ebebeb;
  top: 44px;
  left: 0;
  width: 100%;
  height: 4.78rem;
  overflow: auto;
}

.faxian dt {
  width: 100%;
  height: 0.3rem;
}

.faxian dd {
  width: 100%;
  height: 0.5rem;
  background: #fff;
  position: relative;
}

.faxian dd a {
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 100%;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  line-height: 0.5rem;
  padding-left: 0.4rem;
  color: #333;
  font-size: 0.16rem;
}

#fri::before {
  content: "\e706";
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.2rem;
  color: #d3f433;
}

#sao::before {
  content: "\e602";
  position: absolute;
  left: 0.2rem;
  top: 0.01rem;
  font-size: 0.24rem;
  color: #10AEFF;
}

#yao::before {
  content: "\e685";
  position: absolute;
  left: 0.2rem;
  top: 0.01rem;
  font-size: 0.24rem;
  color: #10AEFF;
}

#fu::before {
  content: "\e652";
  position: absolute;
  left: 0.2rem;
  top: 0.01rem;
  font-size: 0.24rem;
  color: #10AEFF;
}

#piao::before {
  content: "\e60a";
  position: absolute;
  left: 0.2rem;
  top: 0.01rem;
  font-size: 0.24rem;
  color: #10AEFF;
}

#gou::before {
  content: "\e65f";
  position: absolute;
  left: 0.2rem;
  top: 0.01rem;
  font-size: 0.24rem;
  color: #F86161;
}

#you::before {
  content: "\e6e6";
  position: absolute;
  left: 0.2rem;
  top: 0.01rem;
  font-size: 0.24rem;
  color: #F86161;
}

.wo {
  position: absolute;
  background: #ebebeb;
  top: 44px;
  left: 0;
  width: 100%;
  height: 4.78rem;
  overflow: auto;
}

.wo dt {
  width: 100%;
  height: 0.2rem;
}

.wo dd {
  width: 100%;
  height: 0.6rem;
  background: #fff;
}

.wo dd a {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: block;
  line-height: 0.6rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  color: #333;
  font-size: 0.16rem;
  border-bottom: 1px solid #edede8;
}

.wo .geren {
  height: 0.9rem;
  position: relative;
}

.wo .geren img {
  width: 0.7rem;
  position: absolute;
  left: 0.2rem;
  top: 0.1rem;
}

.wo .geren p {
  width: 50%;
  height: 0.3rem;
  position: absolute;
  left: 1rem;
  top: 0.2rem;
  color: #666;
  font-size: 0.16rem;
}

.wo .geren span {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: #888;
  font-size: 0.14rem;
}

.wo .geren::after {
  content: "\e630";
  font-size: 0.4rem;
  color: #888;
  position: absolute;
  right: 0.2rem;
  top: 0.15rem;
}

#ce::before {
  content: "\e601";
  position: absolute;
  left: 0;
  top: 0.02rem;
  font-size: 0.2rem;
  color: #10AEFF;
}

#shouc::before {
  content: "\e687";
  position: absolute;
  left: -0.02rem;
  top: 0;
  font-size: 0.24rem;
  color: #10AEFF;
}

#qianb::before {
  content: "\e625";
  position: absolute;
  left: -0.02rem;
  top: 0;
  font-size: 0.24rem;
  color: #10AEFF;
}

#youh::before {
  content: "\e610";
  position: absolute;
  left: -0.02rem;
  top: 0;
  font-size: 0.24rem;
  color: #10AEFF;
}

#biaoq::before {
  content: "\e6b1";
  position: absolute;
  left: -0.02rem;
  top: 0;
  font-size: 0.24rem;
  color: #FFCA00;
}

.faxiaoxi {
  width: 100%;
  height: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11;
  background: #fff;
  border-top: 2px solid #edede8;
}

.faxiaoxi .sy {
  position: absolute;
  left: 0.1rem;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 0.4rem;
  border-radius: 50%;
  border: 1px solid #c0c1c3;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}

.faxiaoxi input {
  outline-style: none;
  border: none;
  border-bottom: 1px solid #e1ede8;
  position: absolute;
  left: 0.7rem;
  top: 0.05rem;
  height: 0.4rem;
  width: 60%;
}

.faxiaoxi .bq {
  width: 0.3rem;
  height: 0.3rem;
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 70%;
  border: 1px solid #c0c1c3;
  border-radius: 50%;
}

.faxiaoxi .bq::before {
  content: "\e6b1";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.3rem;
}

.faxiaoxi .fs {
  position: absolute;
  right: 0.1rem;
  top: 0.05rem;
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.4rem;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  border: 1px solid #c0c1c3;
}

.dibu {
  z-index: 10;
  background: #fcfcfc;
  border-top: 1px solid #dadada;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  margin: 0;
}

.dibu li {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  position: relative;
}

.dibu li a {
  color: #999;
  font-size: 0.12rem;
  line-height: 0.73rem;
}

.dibu li:nth-child(1) a::before {
  content: "\e65c";
  font-size: 0.2rem;
  color: #999;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.16rem;
}

.dibu li:nth-child(2) a::before {
  content: "\e621";
  font-size: 0.2rem;
  display: block;
  color: #999;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.18rem;
}

.dibu li:nth-child(3) a::before {
  content: "\e608";
  font-size: 0.2rem;
  display: block;
  color: #999;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.16rem;
}

.dibu li:nth-child(4) a::before {
  content: "\e60d";
  font-size: 0.2rem;
  display: block;
  color: #999;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.18rem;
}

.dibu li .bianse {
  color: #46BF1C;
}

.dibu li .bianse::before {
  color: #46bf1c;
}

.cengji {
  z-index: 5;
}

.duimian {
  width: 100%;
  height: 84%;
  position: absolute;
  top: 44px;
  left: 0;
  overflow: auto;
}

.duimian li {
  width: 100%;
  height: 0.7rem;
}

.duimian li p {
  float: left;
  margin-left: 0.3rem;
  margin-top: 0.25rem;
}

.duimian li img {
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  float: left;
}

.duimian .me img {
  margin-right: 0.2rem;
  float: right;
  border-radius: 50%;
}

.duimian .me p {
  float: right;
  margin-right: 0.2rem;
}
